#lanuages_options_data tbody tr {
	background-color: #e0e0e0;
}

.remove_language, .add_language {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.remove_language {
	background: url(images/remove.png);
}

.add_language {
	background: url(images/add.png) no-repeat;
	width: 238px;
	background-color: rgb(243, 248, 236);
	padding: 5px 0 5px 40px;
	background-position: 8px;
	border-radius: 3px;
	border: 1px solid rgb(221, 235, 202);
	margin-top: 5px;
	float: left;
}

.buttn {
	background-color: rgb(243, 248, 236);
	padding: 5px;
	border-radius: 3px;
	border: 1px solid rgb(221, 235, 202);
	margin-top: 5px;
	float: left;
	margin-left: 5px;
	cursor: pointer;
}

.add_language:hover, .buttn:hover {
	background-color: rgb(234, 247, 217);
}

#msg {
	padding: 10px;
	background-color: rgb(234, 247, 217);
	font-size: 12px;
	float: left;
}

#msg_field {
	height: 50px;
	width: 300px;
	float: left;
	clear: both;
	padding-top: 10px;
}